
.report-table{
    border-collapse: collapse;
    border: 1px solid rgb(184, 184, 184);
}

.report-table td {
    padding: 10px;
    border: none;
}

.report-table th{
    background-color: rgb(86, 197, 155);
    border: none;
    color: white;
  }

.report-table tr:nth-child(even){background-color: #f2f2f2}