

.section-b{
    min-height: 655px;
    /* border: 1px solid black; */

}

.section-b-grid-layout{
    display: grid;
    grid-template-columns: 50% 50%;


}

.section-b-info{
    padding: 20px;
    /* border: 1px solid rgb(96, 129, 7); */
    height: 400px;
    padding-top: 60px;
  
}

.section-b-info h1{
    margin-bottom: 20px;
    color: rgb(81, 206, 164);
  
}

.section-b-info p{
font-size: 19px;
line-height: 23px;
margin-bottom: 10px;
}

.section-b-links{
    font-size: 17px;
    text-decoration: none;
    color: rgb(34, 196, 142);
    transition: 0.3s;
}
.section-b-links:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(34, 196, 142);
    
}

.section-b-pic{
    /* border: 1px solid rgb(179, 28, 28); */
    height: 400px;
    width: 100%;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../../assets/pic1-b.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: 300px; */
}

.section-b-pic img{
    height: 300px;
    width:430px;
    margin-top: 30px;
    margin-left: 100px;
}