
.forget-password{
    height: 100%;
    width: 100%;
    background-color: rgb(236, 239, 241);
    position: relative;
}

.forgetpass-nav{
    width: 100%;
    background-color: white;
    align-items: center;
    /* padding: 20px; */
    display: flex;
    height: 60px;
    z-index: 2;
}

.forgetpass-nav h1{
    color: rgb(109, 201, 170);
    margin-right: 30px;
    margin-left: 20px;
    font-size: 30px;
}

.forgetpass-nav p{
    margin-top: 5px;
    font-size: 18px;
    color: rgb(17, 155, 109);
}

.forget-password-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-48%);
    background-color: white;
    height:60%;
    width: 30%;
    text-align: center;
    padding: 15px;
}



.forget-password-center input{
    padding: 10px;
    height:40px;
    width: 80%;
    display: block;
    margin: 5% auto;
    border: 1px solid rgb(172, 172, 172);
}

.forget-password-center input:focus{

    background-color: rgb(246, 246, 246);
}

.forget-password-center button{
    padding: 10px;
    height:40px;
    width: 80%;
    background-color: rgb(94, 190, 158);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

}

.forget-password-center button:hover{

    background-color: rgb(140, 218, 192);
}

.forget-password-center h2{
    margin-top: 10%;
    font-size: 30px;
    margin-bottom: 7%;
    color: rgb(94, 190, 158);


}